<div class="container padding-container">
    <div class="row justify-content-md-center ">
        <div class="col-2">
            <div style="width: 100;text-align: left;">
             
                    <img src="../../../../assets/images/logo_f1.png" style="width: 142px;height: 47px;"/>
            </div>
        </div>
        <div class="col-8">
            <div class="search_box">
                <input class="form-control form-control-lg" placeholder="Search farmer's harvest ..." type="text">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="col-2">
            <div class="row justify-content-md-center">
                <div class="wishlist_box">
                    <div class="row">
                        <div class="col-3">
                            <button type="button">
                                <i class="fas fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-3">
                            <button type="button">
                                <i class="fas fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
